// --------------------------------------------------------------------------
// -- You can add your custom CSS here and it will overwrite template styles.
// --------------------------------------------------------------------------
.text-primary {
  color: #ff3333 !important;
}

.table-link {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  &:hover {
    color: inherit;
    opacity: 0.8;
  }
}

.header-btn {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  justify-content: center;
}
